# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/

# BeeWare specific
*.dist-info/

# Screenshots
screen*.png

# OS
.DS_Store
Thumbs.db

# Screenshots
final_*.png
s_*.png
t_*.png
v2_*.png
screen*.png
learnpython/s_*.png
learnpython/t_*.png
learnpython/final_*.png
learnpython/v2_*.png
learnpython/screen*.png
