# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/

# BeeWare specific
*.dist-info/

# Screenshots
screen*.png

# OS
.DS_Store
Thumbs.db
